body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #00022e;
    color: white;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    text-align: center; /* Centraliza todos os títulos h2 */
}

.section {
    margin-bottom: 30px;
    text-align: center;
}

.section img, .section video {
    width: 200px;
    height: auto;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
}

.section-text {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

/* Centraliza e ajusta a primeira imagem */
.section#about-me .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 200px; /* Aumenta o tamanho da imagem */
    height: 200px;
    border-radius: 50%; /* Recorte em formato de círculo */
    object-fit: cover; /* Garante que a imagem se ajuste ao círculo */
    margin-bottom: 15px;
    border: 5px solid white; /* Adiciona um contorno opcional */
}